@import 'core/variables.scss';

.hero {
    &.is-primary{
        background-color: $colorAwesomeBrightPurple
    }
    &.is-secondary{
        position: relative;
        a{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 5;
        }
    }
}

.HeroImage{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.fade-enter-active {
    transition: opacity 3s ease-in-out;
  }
  
  .fade-enter-to {
    opacity: 1;
  }
  
  .fade-enter {
    opacity: 0;
  }
  

  .main-nav{
      a{
          transition: color 2s;
      }
    a.nuxt-link-active{
      color: red;
    }
  }